KAFKA_BOOTSTRAP_SERVERS=10.12.143.218:29092
KAFKA_CONNECT_EXTERNAL_HOST=10.12.144.35
KAFKA_CONNECT_JMX_HOSTNAME=10.12.144.35
KAFKA_CONNECT_MEM_LIMIT=1536m
KAFKA_CONNECT_HEAP_OPTS=-Xms512M -Xmx768M

AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
ANALYTICS_S3_BUCKET=replace-me

KAFKA_CONNECT_UA_S3_TASKS_MAX=1
KAFKA_CONNECT_UA_S3_FLUSH_SIZE=1000
KAFKA_CONNECT_UA_S3_ROTATE_INTERVAL_MS=60000
KAFKA_CONNECT_UA_S3_ROTATE_SCHEDULE_INTERVAL_MS=60000
