spring:
  application:
    name: tasteam-api
  config:
    import:
      - optional:classpath:application.local.yml
      - optional:classpath:application.dev.yml
      - optional:classpath:application.prod.yml

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
